{% extends 'base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %} 
{% block content %}
<div class="container abt-div1">
  <div class="row abt-bck">
    <h1 class="Abt-head">
      ABOUT US
      </h1>
  </div>
</div>
<br><hr>
<h1 class="abt-h2">MILESTONE</h1>
<p class="abr-p1">ZMR Mobility electrifies Indian mobility with subscription eBikes, helping businesses cut carbon footprints—because your next delivery deserves to be pollution-free.”</p>
<div class=" abt-div2">
  <div class="row abt-row1">
    <div class="col-5 abt-img1"></div>
    <div class="col-5 abt-content">
      <h2 class=" ">Key Milestones & Future Focus</h2><br>
       <p> Current Focus: The company's focus for the year 2024 is to achieve a fleet of 1,200 vehicles. <br>

<b>Future Vision</b>: The presentation indicates a future focus on profitability, and expanding operations to cities like Lucknow and Jaipur to meet demand. <br>
<b>Technology Integration</b>: A key achievement is the use of AI and IoT-enabled live vehicle tracking to manage the fleet. <br>
<b>Business Model</b>: The company operates on an "Asset Lite" model and focuses on vehicle sales through DCO, LTO, and RTO models.</p> 
 <b>Expansion Plan</b> :<br>
<b>Year 2025</b>: Expand to 4 new cities, with a target of 6,000 vehicles.<br>
<b>Year 2026</b>: Expand to Tier 2 and Tier 3 cities, with a target of 15,000 vehicles.<br>

    </div>
  </div>
</div>  
</div>
<hr>
<div class ="abt-story">
<h1 class="abt-H4">Our Story </h1><br>
<div class="row abt-H41">
  <div class="col-sm-5 abt-H411">


  </div>
  <div class="col-sm-7 abt-H412">
    <h2>Javed Ali – Director</h2>
Javed is a Mechanical Engineer from Kirodimal Institute of Technology and has worked with renowned companies such as Hero MotoCorp, SML ISUZU, Tata, Quantum Energy, and Motovolt. With 12+ years of experience in the Automotive/EV/Leasing industry, he brings deep technical and operational expertise to ZMR Mobility. His leadership ensures that our solutions are not only innovative but also practical and scalable.
  </div>
</div>
<hr>
<div class="row abt-H41">
  <div class="col-sm-7 abt-H412">
     <h3>Juned Ali – Director</h3><br>
Juned is a driven and accomplished business professional who holds a B-Tech degree from Sai Nath University, Agra. With 6 years of experience in the GI industry, he brings strong business acumen, strategic thinking, and execution capabilities. His entrepreneurial mindset helps ZMR Mobility scale its impact and expand its reach in the EV ecosystem.
  </div>
  <div class="col-sm-5 abt-H413">
   
  </div>

</div>
</div>



{% endblock %}
