{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %} {% block content %}
<div class="container team-div1">
  <div class="row Team-bck">
    <h1 class="Team-head">Meet out Team</h1>
  </div>
  <div>
    <h1>Director</h1>
    <div class="teamDirector">
      <div class="teamMember">
        <div class="teamImg" id="member1"></div>
        <h3>Javed Ali</h3>
      </div>
      <div class="teamMember">
        <div class="teamImg" id="member2"></div>
        <h3>Juned Ali</h3>
      </div>
    </div>
    <hr />
    <h1>Other Team Member</h1>
    <div class="teamDirector">
      <div class="teamMember">
        <div class="teamImg" id="member3"></div>
        <h3>Javed Ali</h3>
      </div>
      <div class="teamMember">
        <div class="teamImg" id="member4"></div>
        <h3>Javed Ali</h3>
      </div>
      <div class="teamMember">
        <div class="teamImg" id="member5"></div>
        <h3>Javed Ali</h3>
      </div>
      <div class="teamMember">
        <div class="teamImg" id="member6"></div>
        <h3>Javed Ali</h3>
      </div>
      <div class="teamMember">
        <div class="teamImg" id="member7"></div>
        <h3>Javed Ali</h3>
      </div>
      <div class="teamMember">
        <div class="teamImg" id="member8"></div>
        <h3>Javed Ali</h3>
      </div>
      <div class="teamMember">
        <div class="teamImg" id="member9"></div>
        <h3>Javed Ali</h3>
      </div>
    </div>
    <div class="teamMember">
        <div class="teamImg">
          50+
        </div>
        <h3>Members</h3>
      </div>
    </div>
</div>
{% endblock %}
